.main-navigation {
  .flex(space-between, center, column);
  .width-100();
  background-color: @cep-color-light-blue;
  max-width: 880px;
  margin: 0 auto;

  .nav-container {
    .flex(center, center, column);
    padding: 20px;

    h1 {
      font-size: 3.0rem;
      padding: 20px;

      @media @mobile {
        font-size: 2rem;
        padding: 10px;
        color: white;
      }
    }

    .nav {
      display: flex;

      .nav-link {
        padding: 10px 20px;
        font-size: 1rem;

        @media @mobile {
          padding: 10px 10px;
        }

        &:hover {
          background-color: @cep-color-purple;
          color: @cep-color-light-blue;
          border-radius: 5%;
        }
      }
    }
  }
}

.body-container {
  .flex(center, center);

  .content {
    width: 50%;

    h2 {
      font-size: 2.0rem;
      padding: 10px;
      background-color: @cep-color-purple;
      margin: 5px;
    }

    p {
      padding: 10px 20px;
    }
  }


}

.nav-footer {
  background-color: @cep-color-light-blue;
  max-width: 880px;
  .width-100();
  padding: 20px;
  .flex(none, center, column);
}