.main-container {

  .img-and-text {
    background-image: url("../images/alcohol-bar.jpg");
    // background-color: #cccccc;
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    opacity: 0.8;

    @media @mobile {
      background-image: none;
    }

    .img-text {
      .fontFamily();
      max-width: 1140px;
      margin: 0 auto;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: @cep-color-white;
      background-color: @cep-color-dark-blue-transparent;
      padding: 60px;
      border-radius: 10px;

      h1 {
        font-size: 4.5rem;
        z-index: 1;
      }

      .btn-quote {
        font-size: 2rem;
        color: @cep-color-dark-blue;
        background-color: @cep-color-grey;
        border-radius: 2%;
        padding: 10px;

        &:hover {
          background-color: @cep-color-purple;
          color: @cep-color-white;
        }
      }
    }
  }

  .motto {
    font-family: 'Montserrat', sans-serif;
    color: @cep-color-grey;
    .flexTablet();

    h3 {
      margin: 0 auto;
      font-weight: bold;
      font-size: 2.5rem;
      font-family: 'Vollkorn SC', serif;

    }

    h4 {
      font-size: 1.3rem;
      line-height: 1.5;
    }
  }
  .content {
    // max-width: 1140px;
    margin: 0 auto;
    padding: 80px 0px;
  
    h2 {
      // background-color: @cep-color-grey;
      // color: @cep-color-white;
      font-family: 'Vollkorn SC', serif;
      padding: 10px;
      border-radius: 5px;
      color: @cep-color-white;

      &:last-child {
        color: @cep-color-grey;
      }

    }

    .content-img-text {
      .flex(space-evenly, center, row);
      padding-top: 10px;

      @media @tablet {
        display: block;
      }
      
      .content-img {
        width: 50%;
        border-radius: 5px;

        @media @tablet {
          width: @widthAuto;
          margin: 0 auto;
        }
      }

      p {
        padding: 20px;
      }
    }
  }
}

.first {
  .flex(space-evenly, center, row-reverse);
  background-color: @cep-color-light-blue;
  margin-left: 0;
}

.second {
  background-color: @cep-color-grey;
  .flexTablet();
}

.third {
  p {
    color: @cep-color-grey;
  }
  .flexTablet();
}

// team images styling

.about-us-container {
  .flex(center, center, column);
  // flex-wrap: wrap;
  margin: 0 auto;

  .about-us-header {
    // margin-bottom: 5%;
    font-size: 2rem;
    text-transform: uppercase;
    background: linear-gradient(to right, black, #848484);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .about-us-images {
    .flex(center, center, column);
    flex-wrap: wrap;
    position: relative;
    width: 100px;
    height: 100px;

    // img {
    //   width: 100px;
    //   height: 100px;
    // }
  }
}


.footer {
  background-color: @cep-color-purple;
  color: @cep-color-white;
  .width-100();
  padding: 20px;
  .flex(none, center, column);
}
