// File for all css mixins

.width-100 {
  width: 100%;
}

.flex(@jc: none, @ai: none, @dir: row) {
  display: flex;
  justify-content: @jc;
  align-items: @ai;
  flex-direction: @dir;
}

.navLinkStyle (@navColor, @navBackgroundColor) {
  color: @navColor;
  background-color: @navBackgroundColor;

  &:hover {
    color: @navBackgroundColor;
    background-color: @navColor;
  }

}