// File for all css variables


// colors
@cep-color-light-blue: #1E80AA;
@cep-color-dark-blue: #082A47;
@cep-color-purple: #632A50;
@cep-color-red: #6B0504;
@cep-color-grey: #4D545D;
@cep-color-white: #FBFBFB;

//escaping for tablet
@tablet: ~"(max-width: 800px";

//escaping for mobile
@mobile: ~"(max-width: 500px)";

//width adjustments for text & img
@widthAuto: auto;